extends layout

block content
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript").
        $(document).ready(function () {
            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
        });

    .container
        .row
            .col-md-3
                - var totalClass = {'class': ""};
                - var yesterdayClass= {'class': ""};
                - var weeklyClass= {'class': ""};
                - var monthlyClass= {'class': ""};
                - var yearClass= {'class': ""};

                case pill
                    when "total"
                        - totalClass = {'class': "active"}
                    when "weekly"
                        - weeklyClass = {'class': "active"}
                    when "monthly"
                        - monthlyClass = {'class': "active"}
                    when "year"
                        - yearClass = {'class': "active"}
                    default
                        - yesterdayClass = {'class': "active"}

                ul.nav.nav-pills.nav-stacked
                    li(role='presentation')&attributes(yesterdayClass)
                        a(href='/?type=yesterday') Gestern
                    li(role='presentation')&attributes(weeklyClass)
                        a(href='/?type=weekly') 7 Tagesrückblick
                    li(role='presentation')&attributes(monthlyClass)
                        a(href='/?type=monthly') Monatsübersicht
                    li(role='presentation')&attributes(yearClass)
                        a(href='/?type=year') Jahresrückblick
                    li(role='presentation')&attributes(totalClass)
                        a(href='/?type=total') Gesamt

            .col-md-9
                case pill
                    when "total"
                        include ./statistics/total

                    when "weekly"
                        include ./statistics/weekly

                    when "monthly"
                        include ./statistics/monthly

                    when "year"
                        include ./statistics/year

                    default
                        include ./statistics/yesterday