extends publicLayout

block content
    script.
        function submitted() {
            console.log("test");
            $.ajax({
                'url'  : !{path} + "/login",
                type   : "POST",
                headers: {
                    Authorization: "Basic " + base64().encode($('#inputEmail').val() + ":" + $('#inputPassword').val())
                },
                success: function (result) {
                    window.location = "/"
                },
                error  : function (result) {
                    //window.location = "/login?error=invalidCredentials"
                }
            });
        }

    .container.well-lg
        if (error)
            .row
                .col-md-6.col-md-offset-3
                    .alert.alert-danger(role='alert')
                        | Anmeldedaten waren fehlerhaft
        .row
            .col-md-6.col-md-offset-3
                form.form-signin(method="post" onsubmit="submitted()")
                    h2.form-signin-heading Bitte Anmeldedaten eingeben

                    .form-group
                        label.sr-only(for='inputEmail') E-Mail Adresse
                        input#inputEmail.form-control(type='email', placeholder='E-Mail Adresse', required='', autofocus='')
                    .form-group
                        label.sr-only(for='inputPassword') Passwort
                        input#inputPassword.form-control(type='password', placeholder='Passwort', required='')
                    .form-group
                        button.btn.btn-lg.btn-primary.btn-block(type='button', onclick='submitted()') Einloggen
