script(type="text/javascript").
    function drawChart() {
        var data, options, chart;

        //draw pie chart
        data = google.visualization.arrayToDataTable(
                !{JSON.stringify(_.concat([['Trichter', 'kWh']], result.total))});

        options = {
            title: 'Erzeugte kWh pro Trichter',
            is3D : true
        };

        chart = new google.visualization.PieChart(document.getElementById('kilowatthourperunit'));
        chart.draw(data, options);
    }

#kilowatthourperunit(style="width: 100%; height: 800px;")