script(type="text/javascript").
    function drawChart() {
        var data, options, chart;

        //draw pie chart
        data = google.visualization.arrayToDataTable(
                !{JSON.stringify(_.concat([['Trichter', 'kWh']], result.total))});

        options = {
            title: 'Erzeugte kWh je Wechseltrichter',
            is3D : true
        };

        chart = new google.visualization.PieChart(document.getElementById('kilowatthourperunit'));
        chart.draw(data, options);
    }

.container-fluid
    .row
        .col-xs-12
            table.table.table-bordered.table-striped.table-responsive
                thead
                    tr
                        th Wechseltrichter
                        th Kilowattstunden
                tbody
                    - var total = 0;
                    each entry in result.total
                        - total += entry[1];
                        tr
                            td !{entry[0]}
                            td.text-right !{entry[1].toFixed(2)} kWh
                    tr
                        td Summe
                        td.text-right !{total.toFixed(2)} kWh


    .row
        .col-xs-12
            #kilowatthourperunit(style="width: 100%; height: 800px;")