script(type="text/javascript").
    function drawChart() {
        var data, options, chart;

        //draw weekly chart
        data = google.visualization.arrayToDataTable(
                !{JSON.stringify(_.concat([['Tag', 'Karl1', 'Karl2', 'Karl3']], result.weekly))});

        options = {
            title   : 'Produzierte kWh auf Tagesbasis',
            vAxis   : {format: '#.## kWh'},
            hAxis   : {
                showTextEvery   : 1,
                slantedText     : true,
                slantedTextAngle: 45
            }
        };

        chart = new google.visualization.ColumnChart(document.getElementById('kilowatthourperweek'));

        chart.draw(data, options);
    }

#kilowatthourperweek(style="width: 100%; height: 800px;")