script(type="text/javascript").
    function drawChart() {
        var data, options, chart;

        //draw weekly chart
        data = google.visualization.arrayToDataTable(
                !{JSON.stringify(_.concat([['Stunde', 'Karl1', 'Karl2', 'Karl3']], result.yesterday))});

        options = {
            title   : 'Gestern produzierte kWh',
            vAxis   : {format: '#.## kWh'},
            hAxis   : {
                showTextEvery   : 1,
                slantedText     : true,
                slantedTextAngle: 45
            }
        };

        chart = new google.visualization.ColumnChart(document.getElementById('kilowatthouryesterday'));

        chart.draw(data, options);
    }

#kilowatthouryesterday(style="width: 100%; height: 800px;")